html {
  background: url(media/simple.gif) no-repeat center center fixed;
  background-size: cover;
}

body {
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  width: 60%;
  position: relative;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-height: calc(100vh - 120px);
  margin-right: 100px;
  transition: margin-left 0.5s ease-in-out;
}

.post img {
  width: 100%;
  max-height: 400px;
  max-width: 400px;
  border-radius: 10px;
}

.post li img {
  max-width: 100%;
  max-height: 150px;
  border-radius: 10px;
}

.post h2 { /* Style the post title */
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.post .date {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
  text-align: right;
  width: 100%;
}

.post p {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}


.post ul {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
}


.post li {
  margin: 0 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255); /* Change the background-color to white with less opacity */
  transition: all 0.2s ease-in-out;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.post li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.post a {
  display: block;
  color: purple;
  text-decoration: none;
  font-size: 24px;
  padding: 20px;
}

#sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  background-color: rgba(0, 191, 255, 0.7);
  opacity: 0.7;
  transition: width 0.5s;
  overflow: hidden;
}

#sidebar:hover {
  width: 200px;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sidebar li {
  margin: 5px 0;
  text-align: center;
}

#sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

#sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

#sidebar:hover + .post {
  margin-left: 50px
}

/* Style header */
header {
  text-align: center;
  margin-bottom: 20px;
}

