html {
  background: url(media/wakaba-girl.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh; /* Ensure body takes up at least the full height of the viewport */
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  width: 60%;
  position: relative;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);  
  border-radius: 10px; /* Add rounded corners to the post box */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow effect to the post box */
  min-height: calc(100vh - 120px); /* Extend the post box to the bottom of the page */
}

.post img {
  width: 100%;
  max-height: 400px;
  max-width: 400px;
}

.post .date {
  font-family: Arial, sans-serif;
  font-size: 24px;
  margin-top: 12px;
}

#sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  background-color: rgba(0, 191, 255, 0.7);
  opacity: 0.7;
  transition: width 0.5s;
  overflow: hidden;
}

#sidebar:hover {
  width: 200px;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sidebar li {
  margin: 5px 0;
  text-align: center;
}

#sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

#sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.previous-posts .post {
  margin-bottom: 20px;
}

.previous-posts {
  display: none;
}

#show-previous-posts:hover + .previous-posts {
  display: block;
}

#show-previous-posts {
  margin: 5px 0;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
