<h2>Blog Posts</h2>
<div class="index-container">

<div class="index-item">
    <div class="index-date-tags">
        20th of January, 2025 · Tagged with Blog, Legacy
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250120_no_freedom_without_goals/post.html" hx-target="#content-area" hx-push-url="#post/20250120_no_freedom_without_goals">No Freedom Without Goals</a></h3>
    <div class="index-snippet">
        No preview available for this legacy post.
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        14th of December, 2024 · Tagged with Blog, Legacy
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20241214_cool_art/post.html" hx-target="#content-area" hx-push-url="#post/20241214_cool_art">Cool art</a></h3>
    <div class="index-snippet">
        Look at this cool art I found! Here is the source: https://safebooru.donmai.us/posts/6249119?q=alu.m_%28alpcmas%29.
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        14th of December, 2024 · Tagged with Blog, Legacy
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20241214_obsidian_notes_to_webpage/post.html" hx-target="#content-area" hx-push-url="#post/20241214_obsidian_notes_to_webpage">Obsidian Notes To Webpage</a></h3>
    <div class="index-snippet">
        No preview available for this legacy post.
    </div>
</div>

</div>
