<h2>Haikuesque Posts</h2>
<div class="index-container">

<div class="index-item">
    <div class="index-date-tags">
        13th of July, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250713_the_trade_offs_we_make/post.html" hx-target="#content-area" hx-push-url="#post/20250713_the_trade_offs_we_make">The trade-offs we make</a></h3>
    <div class="index-snippet">
        A world to explore A shame I have just this life And it's spent inside
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        4th of July, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250704_something_on_vitality/post.html" hx-target="#content-area" hx-push-url="#post/20250704_something_on_vitality">something on vitality</a></h3>
    <div class="index-snippet">
        just can't pinpoint why able to do less and less a dead tree still stands
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        4th of July, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250704_plea_to_the_brain/post.html" hx-target="#content-area" hx-push-url="#post/20250704_plea_to_the_brain">Plea to the brain</a></h3>
    <div class="index-snippet">
        stop thinking my brain why can't you focus? Stay here. stay here a moment
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        3rd of July, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250703_an_instrument/post.html" hx-target="#content-area" hx-push-url="#post/20250703_an_instrument">an instrument</a></h3>
    <div class="index-snippet">
        I'd like to play the humble harmonica for these ice cold blues
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        2nd of July, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250702_next_steps/post.html" hx-target="#content-area" hx-push-url="#post/20250702_next_steps">Next steps</a></h3>
    <div class="index-snippet">
        And now we've done it... given it all up. Goodbye! hi scary future.
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        30th of June, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250630_inalienable_rights_for_all_people/post.html" hx-target="#content-area" hx-push-url="#post/20250630_inalienable_rights_for_all_people">Inalienable rights for all people</a></h3>
    <div class="index-snippet">
        rights for all people: freedom and equality... will not be taken!
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        30th of June, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250630_eveningdreams/post.html" hx-target="#content-area" hx-push-url="#post/20250630_eveningdreams">Eveningdreams</a></h3>
    <div class="index-snippet">
        hours wasted in thought just dreaming of adventure ...procrastination...
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        28th of June, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250628_dreams_of_beaches/post.html" hx-target="#content-area" hx-push-url="#post/20250628_dreams_of_beaches">Dreams of beaches</a></h3>
    <div class="index-snippet">
        from my midwest stay dreaming of travels to feel warm Baja beaches
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        25th of June, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250625_part_of_the_job/post.html" hx-target="#content-area" hx-push-url="#post/20250625_part_of_the_job">part of the job</a></h3>
    <div class="index-snippet">
        to write of nature tell me how! i don't know her spend my days inside
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        24th of June, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250624_hot_heads/post.html" hx-target="#content-area" hx-push-url="#post/20250624_hot_heads">Hot heads</a></h3>
    <div class="index-snippet">
        All this talk of war Fear sold to those with no hope Just the summer heat
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        22nd of June, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250622_the_allure_of_time_wasted/post.html" hx-target="#content-area" hx-push-url="#post/20250622_the_allure_of_time_wasted">The allure of time wasted</a></h3>
    <div class="index-snippet">
        Lazy summer days A nice nap to beat the heat Tomorrow - regret
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        22nd of June, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250622_all_from_our_perspective/post.html" hx-target="#content-area" hx-push-url="#post/20250622_all_from_our_perspective">All from our perspective</a></h3>
    <div class="index-snippet">
        Our beautiful world. A sudden stochastic shock! She tries to kill us!
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        18th of June, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250618_a_thought_from_watching_a_10hr_video_of_waves_on_a_beach/post.html" hx-target="#content-area" hx-push-url="#post/20250618_a_thought_from_watching_a_10hr_video_of_waves_on_a_beach">A thought from watching a 10hr video of waves on a beach</a></h3>
    <div class="index-snippet">
        The fish of the sea will never know the pleasure beach side wave watching
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        18th of June, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250618_as_i_look_at_my_watch_or_my_phone_or_my_screen/post.html" hx-target="#content-area" hx-push-url="#post/20250618_as_i_look_at_my_watch_or_my_phone_or_my_screen">As I look at my watch, or my phone, or my screen</a></h3>
    <div class="index-snippet">
        the years of research the feats of engineering taken for granted
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        15th of June, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250615_what_do_you_dream_about/post.html" hx-target="#content-area" hx-push-url="#post/20250615_what_do_you_dream_about">What do you dream about?</a></h3>
    <div class="index-snippet">
        I wish I was a... Spaniard. On a voyage for... the Fountain of Youth
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        15th of June, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250615_on_the_same_boat/post.html" hx-target="#content-area" hx-push-url="#post/20250615_on_the_same_boat">On the same boat</a></h3>
    <div class="index-snippet">
        Walk in the city Filth and homeless all around Oh my reflection
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        14th of June, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250614_doubling_doubling/post.html" hx-target="#content-area" hx-push-url="#post/20250614_doubling_doubling">Doubling Doubling</a></h3>
    <div class="index-snippet">
        Just too much to do If only I had a clone Us two, still too much...
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        14th of June, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250614_how_do_you_figure_out_what_to_do_next/post.html" hx-target="#content-area" hx-push-url="#post/20250614_how_do_you_figure_out_what_to_do_next">How do you figure out what to do next?</a></h3>
    <div class="index-snippet">
        Shredded little pieces My allocation of time Value of desires
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        14th of June, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250614_butt_a_distraction/post.html" hx-target="#content-area" hx-push-url="#post/20250614_butt_a_distraction">Butt a distraction</a></h3>
    <div class="index-snippet">
        In front, task at hand To the side, a distraction Attention: bottom
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        10th of June, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250610_daily_burdens/post.html" hx-target="#content-area" hx-push-url="#post/20250610_daily_burdens">Daily burdens</a></h3>
    <div class="index-snippet">
        Pressure builds inside. Overburdened, machine whines. To feel is to live.
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        8th of June, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250608_questionable_designs/post.html" hx-target="#content-area" hx-push-url="#post/20250608_questionable_designs">Questionable designs</a></h3>
    <div class="index-snippet">
        Everyone is a... series of experiences. Penis shaped trash can.
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        7th of June, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250607_miracle_of_the_morning/post.html" hx-target="#content-area" hx-push-url="#post/20250607_miracle_of_the_morning">Miracle of the morning</a></h3>
    <div class="index-snippet">
        The morning alarm... yay another chance at life! Hit snooze. Back to sleep.
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        29th of May, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250529_stop_and_it_catches_up/post.html" hx-target="#content-area" hx-push-url="#post/20250529_stop_and_it_catches_up">Stop and it catches up</a></h3>
    <div class="index-snippet">
        The new becomes known. Routines start. Oh depression! Tortoise wins the race.
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        25th of May, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250525_tranquility_while_we_wait/post.html" hx-target="#content-area" hx-push-url="#post/20250525_tranquility_while_we_wait">Tranquility while we wait</a></h3>
    <div class="index-snippet">
        Looking at the sky Cloudy, cool day. Birds chirping. a peace close to death
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        24th of May, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250524_sitting_on_the_riverbank_after_some_rain/post.html" hx-target="#content-area" hx-push-url="#post/20250524_sitting_on_the_riverbank_after_some_rain">Sitting on the riverbank after some rain</a></h3>
    <div class="index-snippet">
        The river flowing Sunlight glistens like crystals Ducks carried away
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        24th of May, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250524_the_repercussions_of_moving_forward/post.html" hx-target="#content-area" hx-push-url="#post/20250524_the_repercussions_of_moving_forward">The repercussions of moving forward</a></h3>
    <div class="index-snippet">
        End of a journey Now just glimpses of what once was tender memories
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        21st of May, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250521_driving_my_motorcycle_through_a_cloud_of_dandelion_seeds/post.html" hx-target="#content-area" hx-push-url="#post/20250521_driving_my_motorcycle_through_a_cloud_of_dandelion_seeds">Driving my motorcycle through a cloud of dandelion seeds</a></h3>
    <div class="index-snippet">
        Dandelion cloud Far ahead - they fill the air Broken apart. Sneeze!
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        21st of May, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250521_emotions_dont_seem_to_sum_evenly/post.html" hx-target="#content-area" hx-push-url="#post/20250521_emotions_dont_seem_to_sum_evenly">Emotions don't seem to sum evenly</a></h3>
    <div class="index-snippet">
        joy, bliss, happiness one mistake -- silly failure now my day is ruined
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        19th of May, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250519_dollar_general_everywhere/post.html" hx-target="#content-area" hx-push-url="#post/20250519_dollar_general_everywhere">Dollar General Everywhere</a></h3>
    <div class="index-snippet">
        in every small town a dollar general store inside all the same
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        18th of May, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250518_colorful_surprise/post.html" hx-target="#content-area" hx-push-url="#post/20250518_colorful_surprise">Colorful surprise</a></h3>
    <div class="index-snippet">
        Ride down the highway I see green trees forever suddenly redbuds!
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        10th of May, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250510_ordered_too_much_coffee/post.html" hx-target="#content-area" hx-push-url="#post/20250510_ordered_too_much_coffee">Ordered Too Much Coffee</a></h3>
    <div class="index-snippet">
        To drink in excess More coffee than a man needs Anxiety shakes
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        9th of May, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250509_stuck_in_a_season/post.html" hx-target="#content-area" hx-push-url="#post/20250509_stuck_in_a_season">Stuck in a season</a></h3>
    <div class="index-snippet">
        It is summer now The tree still has fall colors I too fail to change
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        5th of May, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250505_sitting_listening/post.html" hx-target="#content-area" hx-push-url="#post/20250505_sitting_listening">Sitting listening</a></h3>
    <div class="index-snippet">
        the song of the birds the doppler effect of cars systematic sounds
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        4th of May, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250504_rainy_night/post.html" hx-target="#content-area" hx-push-url="#post/20250504_rainy_night">Rainy Night</a></h3>
    <div class="index-snippet">
        The rain ends at night Dark clouds and heavy silence All the mud that follows
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        3rd of May, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250503_change_to_come/post.html" hx-target="#content-area" hx-push-url="#post/20250503_change_to_come">Change to Come</a></h3>
    <div class="index-snippet">
        A sinking feeling Excitement, worry, and fear All soon forgotten
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        3rd of May, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250503_simplicity_is_hard/post.html" hx-target="#content-area" hx-push-url="#post/20250503_simplicity_is_hard">Simplicity is hard</a></h3>
    <div class="index-snippet">
        Why say more? Complexity is for fools Work to say with less!
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        3rd of May, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250503_time_wasted/post.html" hx-target="#content-area" hx-push-url="#post/20250503_time_wasted">Time Wasted</a></h3>
    <div class="index-snippet">
        fleeting experience Tired eyes, more wrinkles than before Yet nothing to show
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        2nd of May, 2025 · Tagged with Haikuesque
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250502_useless_haiku/post.html" hx-target="#content-area" hx-push-url="#post/20250502_useless_haiku">Useless haiku</a></h3>
    <div class="index-snippet">
        Can one write or say anything really meaningful in a simple haiku?
    </div>
</div>

</div>
