<h2>Blog Posts</h2>
<div class="index-container">

<div class="index-item">
    <div class="index-date-tags">
        28th of August, 2025 · Tagged with Blog
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250828_ohio_to_key_west_travel_log/post.html" hx-target="#content-area" hx-push-url="#post/20250828_ohio_to_key_west_travel_log">Ohio to Key West Travel Log</a></h3>
    <div class="index-snippet">
        Trip summary After my internship in Ohio I needed to ride my motorcycle back to Texas. Since I was close to the east coast, I figured I might as well...
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        30th of July, 2025 · Tagged with Blog
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250730_isarc25_reflections/post.html" hx-target="#content-area" hx-push-url="#post/20250730_isarc25_reflections">ISARC25 Reflections</a></h3>
    <div class="index-snippet">
        My Presentation My presentation went well. They recorded so hopefully the videos get posted soon. Had a few questions regarding system details and...
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        23rd of May, 2025 · Tagged with Blog
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250523_ohio_trip_logs/post.html" hx-target="#content-area" hx-push-url="#post/20250523_ohio_trip_logs">Ohio Trip Logs</a></h3>
    <div class="index-snippet">
        These are my logs for my trip to Ohio. The route was from San Antonio, TX to Dayton, OH. The image below is pretty much the route I took over this 6...
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        20th of January, 2025 · Tagged with Blog, Legacy
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250120_no_freedom_without_goals/post.html" hx-target="#content-area" hx-push-url="#post/20250120_no_freedom_without_goals">No Freedom Without Goals</a></h3>
    <div class="index-snippet">
        No preview available for this legacy post.
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        14th of December, 2024 · Tagged with Blog, Legacy
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20241214_cool_art/post.html" hx-target="#content-area" hx-push-url="#post/20241214_cool_art">Cool art</a></h3>
    <div class="index-snippet">
        Look at this cool art I found! Here is the source: https://safebooru.donmai.us/posts/6249119?q=alu.m_%28alpcmas%29.
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        14th of December, 2024 · Tagged with Blog, Legacy
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20241214_obsidian_notes_to_webpage/post.html" hx-target="#content-area" hx-push-url="#post/20241214_obsidian_notes_to_webpage">Obsidian Notes To Webpage</a></h3>
    <div class="index-snippet">
        No preview available for this legacy post.
    </div>
</div>

</div>
