<h2>Papers Posts</h2>
<div class="index-container">

<div class="index-item">
    <div class="index-date-tags">
        16th of May, 2025 · Tagged with Papers
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250516_msamee_thesis_human_aware_andon_module/post.html" hx-target="#content-area" hx-push-url="#post/20250516_msamee_thesis_human_aware_andon_module">MSAMEE Thesis - Human Aware Andon Module</a></h3>
    <div class="index-snippet">
        Abstract This thesis presents the design, development, and analysis of the Human Aware Andon Module (HAAM), a low-cost, energy-efficient edge machine...
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        1st of May, 2025 · Tagged with Papers
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250501_lean_in_dod/post.html" hx-target="#content-area" hx-push-url="#post/20250501_lean_in_dod">Lean in DOD</a></h3>
    <div class="index-snippet">
        Abstract This report investigates the implementation of lean and six sigma principles within the Department of Defense (DoD) and its affiliated...
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        1st of May, 2025 · Tagged with Papers
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250501_multirobot_dispatch_optimizer/post.html" hx-target="#content-area" hx-push-url="#post/20250501_multirobot_dispatch_optimizer">Multirobot Dispatch Optimizer</a></h3>
    <div class="index-snippet">
        Abstract This report presents a Mixed Integer Linear Programming (MILP) approach for optimizing multi-robot inspection planning in outdoor...
    </div>
</div>

</div>
