<h2>Project Posts</h2>
<div class="index-container">

<div class="index-item">
    <div class="index-date-tags">
        9th of October, 2025 · Tagged with Project
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20251009_lppd_dg_lambda_1/post.html" hx-target="#content-area" hx-push-url="#post/20251009_lppd_dg_lambda_1">LPPD-DG LAMBDA 1</a></h3>
    <div class="index-snippet">
        LAMDA (Look-Ask-Model-Discuss-Act) is a tool I was introduced to in Lean Process and Product Development. I wanted to apply the LAMDA process to the...
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        9th of October, 2025 · Tagged with Project
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20251009_a3_lppd_dg_model_selection_and_deployment/post.html" hx-target="#content-area" hx-push-url="#post/20251009_a3_lppd_dg_model_selection_and_deployment">A3 - LPPD-DG Model Selection and Deployment</a></h3>
    <div class="index-snippet">
        Brief For the first integrating event we explored the potential deployment and model selection parameters in our design space. This was done through...
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        1st of October, 2025 · Tagged with Project
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20251001_doodle_rs/post.html" hx-target="#content-area" hx-push-url="#post/20251001_doodle_rs">Doodle-rs</a></h3>
    <div class="index-snippet">
        Description Doodle-rs is a project I started while re-familiarizing myself with Rust. Using an RPi Pico 2W with a small I2C OLED, it renders pixel...
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        13th of March, 2025 · Tagged with Project, Legacy
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250313_gymnasium_mujoco_docker_setup/post.html" hx-target="#content-area" hx-push-url="#post/20250313_gymnasium_mujoco_docker_setup">Gymnasium Mujoco Docker Setup</a></h3>
    <div class="index-snippet">
        No preview available for this legacy post.
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        1st of February, 2025 · Tagged with Project, Legacy
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20250201_rc_car_with_samd51_thing_plus/post.html" hx-target="#content-area" hx-push-url="#post/20250201_rc_car_with_samd51_thing_plus">Rc Car With Samd51 Thing Plus</a></h3>
    <div class="index-snippet">
        No preview available for this legacy post.
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        26th of December, 2024 · Tagged with Project, Legacy
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20241226_itinerary_to_calendar_csv_file/post.html" hx-target="#content-area" hx-push-url="#post/20241226_itinerary_to_calendar_csv_file">Itinerary To Calendar Csv File</a></h3>
    <div class="index-snippet">
        No preview available for this legacy post.
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        21st of December, 2024 · Tagged with Project, Legacy
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20241221_arxiv_daily_paper_recommender/post.html" hx-target="#content-area" hx-push-url="#post/20241221_arxiv_daily_paper_recommender">Arxiv Daily Paper Recommender</a></h3>
    <div class="index-snippet">
        No preview available for this legacy post.
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        1st of May, 2024 · Tagged with Project, Legacy
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20240501_ssd_failure_testing_an_automated_testing_solution/post.html" hx-target="#content-area" hx-push-url="#post/20240501_ssd_failure_testing_an_automated_testing_solution">Ssd Failure Testing An Automated Testing Solution</a></h3>
    <div class="index-snippet">
        No preview available for this legacy post.
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        1st of May, 2023 · Tagged with Project, Legacy
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20230501_general_electronic_module_tester/post.html" hx-target="#content-area" hx-push-url="#post/20230501_general_electronic_module_tester">General Electronic Module Tester</a></h3>
    <div class="index-snippet">
        No preview available for this legacy post.
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        1st of May, 2022 · Tagged with Project
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20220501_iodine_timer_based_car/post.html" hx-target="#content-area" hx-push-url="#post/20220501_iodine_timer_based_car">Iodine Timer Based Car</a></h3>
    <div class="index-snippet">
        Description In this project, I helped a chemical engineering student with a car design they were working on for a competition. They designed a Iodine...
    </div>
</div>

<div class="index-item">
    <div class="index-date-tags">
        1st of April, 2020 · Tagged with Project
    </div>
    <h3 class="index-title"><a hx-get="/webpage/posts/20200401_finger_roulette/post.html" hx-target="#content-area" hx-push-url="#post/20200401_finger_roulette">Finger Roulette</a></h3>
    <div class="index-snippet">
        Description For one of my electrical engineering classes I designed this "Finger Roulette" game. The letters of UTSA are each a capacitance sensor....
    </div>
</div>

</div>
