<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>JC's Website</title>
    <link href="/webpage/style/main.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <h1><a href="/">JC's Website</a></h1>
        <p>
            <a href="/webpage/about/about-content.html">About</a> |
            <a href="/webpage/indexes/index-projects.html">Projects</a> |
            <a href="/webpage/indexes/index-papers.html">Papers</a> |
            <a href="/webpage/indexes/index-blog.html">Blog</a> |
            <a href="/webpage/indexes/index-haikuesque.html">Haikuesque</a>
        </p>
    </header>
    <main>
        <h2>{{ title }}</h2>
        <div class="index-container">
            {{ posts }}
        </div>
    </main>
</body>
</html>