<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>JC's Website</title>
    <link href="/webpage/style/main.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <h1><a href="/">JC's Website</a></h1>
        <p>
            <a href="/webpage/about/about.html">About</a> |
            <a href="/webpage/works/posts.html">Works</a> |
            <a href="/webpage/blog/posts.html">Blog</a>
        </p>
    </header>
    <main>
        <h2>Latest:</h2>
        <ul>
            {{ latest_posts }}
        </ul>
    </main>
</body>
</html>
